manifest {
	author = "Jeff Vierstra & Sergey Abramov"
	mainScript = "genotyping.nf"
	defaultBranch = "main"
	name = "genotyping-pipeline"
	description = "Genotyping pipeline from chromatin accessbility data"
	version = "1.0"
	nextflowVersion = "22.04.0"
}

// Run with a stricter shell, so errors are caught earlier
process.shell = ['/bin/bash', '-ueo','pipefail' ]

params {
	includeConfig './params.config'
}

profiles {
	//Pan-environment configuration; modify to computing enviroment specifications
	Altius {
		process {
			executor = "slurm"
			queue = "queue0,pool,bigmem,encode4,queue2"
			memory = { 10.GB * task.attempt }
			cache = "lenient" // may need to switch to deep
			errorStrategy = 'retry'
			maxRetries = 3
			beforeScript = "ulimit -n 32000"

            withLabel: medmem {
				memory = { 32.GB * task.attempt }
                cpus = 2
			}

            withLabel: highmem {
				memory = { 100.GB + (50.GB * task.attempt) }
			}
		}


		
		executor {
			$slurm {
				queueSize = 100
			}
		}

		// Logging
		//trace.enabled = true
		//trace.file = "pipeline_trace.txt"
		//timeline.enabled = true
		//timeline.file = "pipeline_timeline.html"
		//report.enabled = true
		//report.file = "pipeline_report.html"
	}
}
