// Metadata and outdir
samples_file = "/home/sabramov/projects/ENCODE4/all_data_meta121022.tsv"

// Expected to be a relative path
outdir = "$launchDir/output"

// Installed conda path (uncomment if you have already unpacked conda environment from environment.yml)
conda = "/home/sabramov/miniconda3/envs/babachi"

// Reference files
encode_blacklist_regions = "/home/sabramov/projects/ont/toy_example/covabachi/hg38-blacklist.v2.bed"
genome_fasta_file = "/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.fa"
genome_chrom_sizes = "/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.chrom_sizes"

dbsnp_file = '/home/jvierstra/data/dbSNP/v151.hg38/All_20180418.fixed-chrom.vcf.gz'
genome_ancestral_fasta_file = '/home/jvierstra/data/genomes/hg38/ancestral/homo_sapiens_ancestor_GRCh38/homo_sapiens_ancestor.fixed.fa'

// Run params
chunksize = 5000000
min_SNPQ = 10 // Minimum SNP quality
min_GQ = 50 // Minimum genotype quality
min_DP = 12 // Minimum read depth over SNP
hwe_cutoff = 0.01 // Remove variants that are out of Hardy-Weinberg equilibrium
min_AD=4 // Minimum reads per alleles


////////////////////////////////////////////////////////////////////////////////////
////////////////////////  Post processing params  //////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////
// Don't need to change if running post_processing.nf in the same folder
genotype_file = "${outdir}/genotypes/all.filtered.snps.annotated.vcf.gz"
bcftools_stats = "${outdir}/stats/bcftools.stats.txt"

// Clustering params
min_variants = 1000

// Moods params
bg_file = "/net/seq/data2/projects/sabramov/ENCODE4/background_probs.txt"
motifs_list = "/net/seq/data2/projects/sabramov/ENCODE4/motifs_metadata.annotated.tsv"
motif_pval_tr = 0.0001

// Motif counts params
flank_width = 20

// Phenotypes annotation
phenotypes_data = "/home/sabramov/phenotypes_data"

// Context extraction
window = 20 // window in which extract context overlapping each variant

// Mutation rates
vcfs_dir = "/net/seq/data2/projects/sabramov/shamilMutationRates" // Roulette vcf files, see https://github.com/vseplyarskiy/Roulette
