// Metadata and outdir
samples_file = "/home/sabramov/projects/ENCODE4/metadata+header_intersection_0801.tsv"
outdir = "genotyping_iter3"

// Additional files
genome_fasta_file="/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.fa"
genome_chrom_sizes="/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.chrom_sizes"
dbsnp_file='/home/jvierstra/data/dbSNP/v151.hg38/All_20180418.fixed-chrom.vcf.gz'
genome_ancestral_fasta_file='/home/jvierstra/data/genomes/hg38/ancestral/homo_sapiens_ancestor_GRCh38/homo_sapiens_ancestor.fixed.fa'

// Run params
chunksize = 5000000
min_SNPQ = 10 // Minimum SNP quality
min_GQ = 50 // Minimum genotype quality
min_DP = 12 // Minimum read depth over SNP
hwe_cutoff = 0.01 // Remove variants that are out of Hardy-Weinberg equilibrium
min_AD=4 // Minimum reads per alleles

// Path to genotype file
genotype_file = "${launchDir}/${outdir}/genotypes/all.filtered.snps.annotated.vcf.gz" // Path to output of main.nf script (all.filtered.snps.annotated.vcf.gz)